<footer>
    <div class="container p-3 mb-2 bg-info text-white" style="border: 2px solid blue;">
        <center>
            <footer>@Todos los derechos reservados Carlos Omar Osuna Pineda</footer>
        </center>
    </div>
</footer>