<!DOCTYPE html>
<html lang="en">

<body>
    <div class="container p-3 mb-2 bg-primary text-white" style="border: 3px solid blue;">
        <%-include ('partials/encabezado.html'); %>
        <form action="/Pre-examen" method="post">
            <br>
            <div class="container p-3 mb-2 bg-white text-dark">
                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Num Boleto</label>
                    <div class="col-sm-10">
                        <input type="number" name="nboleto" id="nboleto" required="true">
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Destino</label>
                    <div class="col-sm-10">
                        <input type="text" name="destino" id="destino" required="true">
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Nombre del Cliente</label>
                    <div class="col-sm-10">
                        <input type="text" name="ncliente" id="ncliente" required="true">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Años cumplidos</label>
                    <div class="col-sm-10">
                        <input type="number" name="añosc" id="añosc" required="true">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Tipos de viaje</label>
                    <div class="col-sm-10">
                        <select name="tviaje" id="tviaje">
                            <option value="1">Sencillo</option>
                            <option value="2">Doble</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label" style="font-size: small;">Precio</label>
                    <div class="col-sm-10">
                        <input type="text" name="precio" id="precio" required="true">
                    </div>
                </div>
                <br>
                <hr>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit">Calcular</button>
                        <button type="reset">Limpiar</button>
                    </div>
                </div>
                    <% 
                        let subt=0;
                        let imp=0;
                        let descuento=0;
                        let tot=0;

                        subt=precio;
                        imp= subt*0.16;

                        if(tviaje==2){
                            subt=subt*1.8;
                            imp=subt*0.16;
                        }

                        if(añoscum>=60){
                            descuento=0.5;
                            tot=((subt + imp)*descuento);
                        }else{
                            tot=(Number(subt) + Number(imp));
                        }
                    %>
                    <div class="container p-3 mb-2 bg-white text-dark">
                        
                        <h3>Resumen de la cotización</h3>
                        <br/>
                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Subtotal</label>
                            <div class="col-sm-10">
                                <input type="text" disabled value="<%=subt%>">
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Impuesto 16%</label>
                            <div class="col-sm-10">
                                <input type="text" disabled value="<%=imp%>">
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label"">Descuento</label>
                            <div class="col-sm-10">
                                <input type="text" disabled value="<%=tot%>">
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Total a pagar</label>
                            <div class="col-sm-10">
                                <input type="text" disabled value="<%=tot%>">
                            </div>
                        </div>
                        
                        
                    </div>
            </div>
        </form>

        <%-include ('partials/pie.html'); %>
    </div>
</body>
</html>



